<% include header %>

<h2>Fitness App - About</h2>

<p>
    This app was meant to replace the piles of handwritten notes I usually keep on my workout progress.
    Since I had a bunch of data available to me, I decided to find a way to organize and utilize it.
</p>

<p>
    My name is Kyle Janssen and I made this app. My homepage and contact information can be found here:
    <a href="http://www.kylejanssen.com">kylejanssen.com</a>
</p>

<% include footer %>