<% include header %>
<h2>Fitness App - Create user</h2>
<p>
    Create a user account to use the fitness app.
</p>
<div id="create">
    <table>
        <tr>
            <td>New Username:</td>
            <td><input id="create-username" type="text" /></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input id="create-password1" type="password" /></td>
        </tr>
        <tr>
            <td>Re-type Password:</td>
            <td><input id="create-password2" type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input id="create-submit" type="submit" value="Create User"/></td>
        </tr>
    </table>

    <p id="output"></p>
    <p><a href="/">< Home</a>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#create-submit').click(function() {
            if ( $('#create-password1').val() === $('#create-password2').val() &&
                    $('#create-password1').val() !== '' &&
                    $('#create-username').val() !== '') {
                var payload = {
                    username: $('#create-username').val(),
                    password: $('#create-password1').val()
                };

                console.log(payload);

                $.ajax({
                    url: "/createuser",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function(data) {
                        $('#output').html(data.responseText);
                    }
                });
            } else if ($('#create-password1').val() !== $('#create-password2').val()) {
                $('#output').html('Passwords do not match.');
            } else {
                $('#output').html('Please fill all fields.');
            }
        });
    });
</script>

<% include footer %>