            </div>

            <div id="footer">
                <h4 style="float:right; padding: 0px;" class="node"><a href="/about">About this app</a></h4>
                <h4>kjanssen's fitness app</h4>
            </div>
        </div>
    </body>
</html>