<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>kjanssen's fitness app</title>
        <link rel="shortcut icon" href="kj_icon.ico" />
        <link rel="stylesheet" type="text/css" href="fitness.css" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>kjanssen</h1>
            </div>

            <div id="content">