        <% include header %>

        <h1>Simple NodeJS Application</h1>
        <h2><%= locals.settings.subtitle %></h2>
        <div>
            Hello, World!
        </div>

        <% include footer %>